<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viscenter Study</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.0/math.js"></script>
    <script src="saveSvgAsPng.js"></script>
    <!--<script src="https://unpkg.com/d3-simple-slider"></script>-->
    <style> /* set the CSS */

    .line {
        fill: none;
        /*stroke: steelblue;*/
        /*stroke-width: 100;*/
        stroke-linejoin: round;
        /*stroke-width: 10px;*/
    }
    .overlay {
        fill: none;
        pointer-events: all;
        cursor: pointer;
    }

    #highestchoice {
        stroke: #367665 !important;
    }

    #lowestchoice {
        stroke:#6ab57d !important;
    }

    html, body{
        width:100%;
        height:100%
    }

    *{
        font-family: sans-serif;
        box-sizing: border-box;
    }

    #main{
        /*background-color: #F8F8F8;*/
        height: 100%;
        margin:0;
        /*padding:50px;*/
    }

    #chart{
        margin: 0 auto;
        width:80%
    }


    .navbar{
        height:8%;
        width: 100%;
            display: flex;
    align-items: center;
    }
    #chart{
        height:47%;
        width: 80%;

    }
    #questions{
        height:45%;
        width: 100%;

        overflow: auto;
    }
    .questions{
        padding-top:20px;
        width: 50%;
        margin: 0 auto;
    }
    #title{
        text-align: center;
        font-size:3em;
    }
    .axis{
        font: 25px sans-serif !important;
    }
        button.btn{
            margin-top: 5px;
        }

    .emphasis{
        font-weight: bold;
    }

    p.navbar-brand{
        font-size:1em;
        margin:0;
        padding:0;
    }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</head>
<body>

<div class="container-fluid" style="width:100%; margin: 0 auto" id="main">
    <nav class="navbar navbar-dark bg-dark">
        <p class="navbar-brand">User Study</p>
        <p class="navbar-brand ml-auto" id="barChartTitle">
            Bar chart title
        </p>
    </nav>
    <div id="chart"></div>
    <div id="questions">

        <form class="questions">
            <h3>Please answer the following questions</h3>
            <fieldset class="form-group" id="highestForm"  >
                    <label for="highest" >Identify the bar with the <span class="emphasis">largest</span> value (click on a bar in the chart).</label>
                    <input type="text" class="form-control" id="highest" name="highest" aria-describedby="emailHelp" placeholder="Hover and click on the appropriate bar" disabled="disabled">
                <button type="submit" class="btn btn-primary" id="highestSubmit">Submit</button>
            </fieldset>
            <fieldset class="form-group" id="lowestForm"  style="display: none">
                <label for="lowest" >Identify the bar with the <span class="emphasis">smallest</span> value (click on a bar in the chart).</label>
                <input type="text" class="form-control" id="lowest" name="lowest" aria-describedby="emailHelp" placeholder="Hover and click on the appropriate bar" disabled="disabled">
                <button type="submit" class="btn btn-primary" id="lowestSubmit">Submit</button>
            </fieldset>
            <fieldset class="form-group" id="firstPercentageForm" style="display: none" >
                <label for="firstPercentage" >How many times is the value of the <span class="emphasis">largest</span> bar to the <span class="emphasis">smallest</span> bar? (input a number in the text bar)</label>
                <input type="number" class="form-control" min=1 id="firstPercentage" name="firstPercentage" aria-describedby="emailHelp" placeholder="Input a Number">
                <button type="submit" class="btn btn-primary" id="firstPercentageSubmit">Submit</button>
            </fieldset>
            <!--<fieldset class="form-group" id="commentForm" style="display: none">-->
                <!--<label for="comment">Any comment about this specific chart? Any special strategies you developed for answering the questions? (optional question)</label>-->
                <!--<textarea class="form-control" id="comment" rows="3" ></textarea>-->
                <!--<button type="submit" class="btn btn-primary" id="commentSubmit">Submit</button>-->
            <!--</fieldset>-->
        </form>
    </div>
</div>

<script>

    var user_data = {
        "startTime" : Date.now(),
        "endTime": null
    };

    var forms = [
        "highest",
        "lowest",
        "firstPercentage"
    ];

    var questions = [
        "Identify the bar with the highest value",
        "Identify the bar with the lowest value",
        "what is the ratio of the highest bar to the lowest bar?(input a number)"

    ];


    var choicesIndex = [];
    var currentIndex = 0;
    var current = forms[currentIndex];
    var index = 0;
    var choiceIndex;
    var datasetName;
    user_data[index.toString()] = {"answers":[],"times":[],"mousePositions":[]};
    user_data[index.toString()]["times"].push(Date.now());
    var data;

    d3.json("finalDatasetModified.json").then(function(d){
       data = shuffle(d);
//       print(data);
       console.log(data);
       values = data[index]["values"];
       var threshold;
        if (data[index]["type"] === "wrapped"){
            threshold = math.quantileSeq(values,0.75);
            threshold = Math.round(threshold/100)*100;

        } else if(data[index]["type"]==="standard") {
            threshold = math.ceil(d3.max(values)/100)*100
        }
        Bar(values,threshold);

    });


    function Bar(values,threshold){
        var chartNumber = index +1;
        $("#barChartTitle").text("barchart " + chartNumber + " / 26");

        currentIndex = 0;
        current = forms[currentIndex];
        user_data[index.toString()] = {"answers":[],"times":[],"mousePositions":[],"dataset_id":data[index]["dataset_id"],"startTime":Date.now()};

        console.log(user_data);
        var barChart = new wrappedBarChart(values,threshold);
//        saveSvg(document.querySelector("svg"),data[index]["dataset_id"]+".svg");
//        saveSvgAsPng(document.querySelector("svg"), data[index]["dataset_id"]+".png");
        addClickListener();
    }

    function addClickListener(){
        $("#"+current+"Submit").click(function(event){
            event.preventDefault();
            lines.attr("id",function(d,i){
                var currentID = d3.select(this).attr("id");
                console.log(currentID);
                if ( currentID){
                    return currentID
                }
                else if (i === choiceIndex){
                    return current + "choice";
                }
            });

            user_data[index.toString()]["times"].push(Date.now());

            if (currentIndex < forms.length-1)

            {
                if ($('#'+current).val() !== ""){
                    $('#'+current+"Submit").prop('disabled', true).attr('class',"btn btn-default").text("Done!");
                    currentIndex +=1;
                    current = forms[currentIndex];
                    console.log(current);
                    console.log(currentIndex);
                    $("#"+current+"Form").css("display","block");
                    var questions    = $('#questions');
                    var height = questions[0].scrollHeight;
                    questions.scrollTop(height);
//                    choicesIndex.push(focusIndex);
                    addClickListener();
                } else{
                    alert("Please enter or select a value");
                }
            } else {
                if ($('#'+current).val() !== "" || current === 'comment'){
                    if (index <data.length-1){
//                      if (index < 5)  {
                        forms.forEach(function(d){
                            var val = $("#"+d).val();
                            user_data[index.toString()]["answers"].push([d,val,labels.indexOf(val)]);
                        });


                        forms.forEach(function(d,i){
                            $("#"+d).val("");
                            if (i >0){
                                $("#"+d+"Form").css("display","none");
                            }
                        });
                        user_data[index.toString()]["endTime"] = Date.now();
                        $("#chart").empty();
                        index += 1;
                        $("button").prop("disabled",false).attr("class","btn btn-primary").text("Submit");
                        $("button").unbind();


                        values = data[index]["values"];
                        var threshold;
                        if (data[index]["type"] === "wrapped"){
                            threshold = math.quantileSeq(values,0.75);
                            threshold = Math.round(threshold/100)*100;

                        } else if(data[index]["type"]==="standard") {
                            threshold = math.ceil(d3.max(values)/100)*100
                        }
                        Bar(values,threshold);
                    } else {
                        forms.forEach(function(d){
                            var val = $("#"+d).val();
                            user_data[index.toString()]["answers"].push([d,val,labels.indexOf(val)]);
                        });
                        user_data["endTime"] = Date.now();
                        console.log(user_data);
                        $.post("/api/study",{data:user_data},success=function(result){
                        console.log(result);
                        window.location.assign("/post");
                    });
                    }

            }
                else {
                    alert("Please enter or select a value")
                }
            } 
        })
    }

    function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }

</script>
<script src="newWrappedBarChart.js"></script>
</body>
</html>